@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn {
      @apply 
      text-lg
      border-[1.5px] 
      border-color-2 
      rounded-full 
      p-2 
      px-4 
      cursor-pointer
      
    }

  .btn:hover {
    @apply
      bg-color-2 duration-300 text-custom-bg-1

    }

    .nav {
      @apply border-b-2 border-transparent;
    }

    .nav:hover {
      @apply
     text-color-2
      cursor-pointer
      transform border-b-2 border-color-2 border-spacing-0
    }

    .hidden-nav {
      transform: translateY(-250%);
      transition: transform 0.3s ease-in-out;
    }
    
    .shown-nav {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .card{
      @apply
      bg-color-1
      text-center 
      p-2 
      rounded-lg 
      shadow-2xl 
      shadow-custom-bg-2
      w-[100px] 
      h-[120px]
    }

    .send{
      @apply
      bg-color-2
      p-2 rounded-lg shadow-md
      text-custom-bg-2 font-semibold
      w-24
    }

   
}